.app.special {
    --color-white: #fff;
    --color-blue: #006ab6;
    --color-light: #d2f2fd;
    --color-primary: #232640;
    --color-blue-dark: #101f62;
    --color-grey-dark: #687094;
    --color-blue-light: #13b5ea;
}
