:root {
    --font-family-regular: "Roboto", sans-serif;
    --font-size-regular: 16px;
    --font-line-height: 1.75;

    --font-regular: var(--font-size-regular) / var(--font-line-height) var(--font-family-regular);
}