@import "reset";
@import "./variables/global";
@import "./themes/normal";
@import "./themes/special";
@import "./base/index";

.app {
    width: 100%;
    display: flex;
    font-size: 18px;
    min-height: 100vh;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-primary);
    background: var(--color-white);
    justify-content: space-between;
    font-family: var(--font-family-regular);
}
