.header {
    padding: 16px 0;
}

.navbar {
    gap: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link {
    padding: 15px;
    font-size: 22px;
    font-weight: 400;
    line-height: 1.2;
    text-decoration: none;
    transition: 0.3s opacity;
    text-transform: uppercase;
    color: var(--color-blue-dark);
    font-family: var(--font-family-title);

    &:hover {
        opacity: 0.7;
    }

    &.active {
        color: var(--color-blue-light);
    }
}
