.logoHeader {
    width: 68px;
    height: 97px;
    display: block;
    transition: 0.3s opacity;

    &:hover {
        opacity: 0.7;
    }

    svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.logoFooter {
    width: 84px;
    height: 122px;
    display: block;

    svg {
        width: 100%;
        height: 100%;
        display: block;
    }
}
