.button {
    padding: 5px;
    border: none;
    display: block;
    cursor: pointer;
    background: none;
    transition: 0.3s all;

    &:hover {
        opacity: 0.7;
    }

    svg {
        width: 24px;
        height: 18px;
        display: block;
        fill: var(--color-blue-dark);
    }
}
